h1 {
  font-family: "Poppins";
  text-align: center;
}

.loginbox {
  display: block;
  width: 40%;
  max-width: 500px;
  height: 50px;
  font-family: "Poppins";
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 300px;
}

#static {
  font-family: 'Poppins';
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
.formbut {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins';
  background-color: #7EC8E3;
  font-size: 16px;
  border: 2px solid black;
  width: 20%;
  height: 35px;
  border-radius: 10px;
  min-width: 75px;
}

.formbut:hover {
  cursor: pointer;
}

#captcha {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 304px;
}
#signupBut {
  margin-top: 5px;
}
#redirP {
  font-family: 'Poppins';
  margin: 10px;
  margin-top: 0;
  text-align: center;
  font-size: 14px;
}
#loginh1 {
  margin-bottom: 10px;
}