html {
  width: 100%;
  height: 100%;
}
h1 {
  font-family: "Poppins";
  text-align: center;
}

.loginbox {
  display: block;
  width: 40%;
  max-width: 500px;
  height: 50px;
  font-family: "Poppins";
  font-size: 18px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  border: 2px solid black;
  border-radius: 10px;
  min-width: 300px;
}

#static {
  font-family: 'Poppins';
  font-size: 12px;
  display: block;
  position: absolute;
  bottom: 0;
  margin-left: 5px
}
.formbut {
  display: block;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Poppins';
  background-color: #7EC8E3;
  font-size: 16px;
  border: 2px solid black;
  width: 20%;
  height: 35px;
  border-radius: 10px;
  min-width: 75px;
}

.formbut:hover {
  cursor: pointer;
}

#captcha {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 304px;
}
#signupBut {
  margin-top: 5px;
}
#redirP {
  font-family: 'Poppins';
  margin: 10px;
  margin-top: 0;
  text-align: center;
  font-size: 14px;
}
#loginh1 {
  margin-bottom: 10px;
}
#center {
  width: 100%;
  font-family: 'Poppins';
  text-align: center;
}
#iconpng {
  width: 7%;
  min-width: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

h4 {
  font-family: 'Poppins';
  text-align: center;
}
.p {
  font-family: 'Poppins';
  text-align: center;
}
#optionbox {
  display: flex;
  justify-content: center;
  gap: 20px;
}

a.optiondiv-link {
  text-decoration: none;
  color: black;
  border: 2px solid black;
  border-radius: 15px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 15%;
  aspect-ratio: 1 / 1;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.optionimg {
  width: 10vw;
  margin-bottom: 10px;
}

a.optiondiv-link:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
  cursor: pointer;
}

a.optiondiv-link p {
  text-decoration: none;
}

.optiondiv:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transform: scale(1.04);
  cursor: pointer;
}
#noperms {
  display: none;
}
#blueunderline {
  text-decoration: underline;
  text-decoration-color: blue;
  text-decoration-thickness: 3px;
}
.pinfobox {
  width: 20%;
  min-width: 250px;
  height: 50px;
  border: 0;
  border-bottom: 3px solid blue;
  font-family: 'Poppins';
  font-size: 24px;
  text-align: center;
  margin: 10px;
  border-radius: 0px;
}
.pinfobox:focus {
  outline: 0px solid black;
}


#error { 
  font-family: 'Poppins';
  font-size: 12px;
  position: absolute;
  bottom: 0;
}
a {
  margin: 15px;
  display: block;
  text-decoration: none;
  color: black;
  font-family: 'Poppins';
  text-align: center;
  font-size: 11.5px;
}

a .hlink {
  color: blue;
  text-decoration: underline;
}

.non-link {
  color: black;
}

h3 {
  font-family: 'Poppins';
  text-align: center;
}
body {
  font-family: 'Poppins';
  text-align: center;
  overflow-x: hidden !important;
  margin: 0;
}
.hr {
  height: 3px;
  width: 15%;
  background-color: black;
  border: 0px solid black;
}
#info {
  text-align: right;
  position: fixed;
  bottom: 0;
}
#qr-reader {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#lqrcode {
  width: 20vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#formdiv {
  border: 0px solid black;
}

@media (max-width: 408px) {
  #static {
    font-size: 10px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
#mo {
  display: none;
}
#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  /* pointer-events: none; */
}
#mOverlay {
  display: block;
  position: absolute;
  bottom: 0;
  pointer-events: none;
}
#mobileTool {
  padding-top: 5px;
  height: 55px; 
  width: 100%;
  border: 0px solid black;
  border-top: 2px solid black;
  background-color: #7EC8E3;
  display: block;
  position: absolute;
  bottom: 0;
}
#desktopTools {
  padding-top: 5px;
  background-color: #7EC8E3;
  height: 90%;
  width: 55px;
  border-radius: 0 0 15px 0;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
.toolbaricon {
  width: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}
@media (max-width: 1000px) {
  #mo {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #7EC8E3;
    width: 100%;
  }
  #do {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .optionbox {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50vw !important;
  }
  #desktopTools {
    display: none;
  }
}

@media screen and (min-width: 1001px) {
  #mobileTool {
    display: none !important;
  }
}
.toolbarsub {
  font-size: 10px;
  font-weight: bolder;
  cursor: pointer;
  margin-top: 2px;
}
#progress {
  font-size: 12px;
  margin: 0;
  margin-top: 5px;
  color: #036b01;
}
#savebut {
  width: 15%;
  min-width: 150px;
  height: 50px;
  border-radius: 20px;
  border: 2px solid black;
  font-family: 'Poppins';
  font-size: 16px;
  background-color: #7EC8E3;
  cursor: pointer;
}